<h1>Users Index Page</h1>
<p>Find me in app/views/users/index.html.erb</p>
<h3> Current User Emails in Database </h3>
<ul>
    <% @users.each do |user| %>
        <li><%= user.email %> </li>
    <% end %>
</ul>
