<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @folder_type.name %>
</p>

<%= link_to 'Edit', edit_folder_type_path(@folder_type) %> |
<%= link_to 'Folder Types List', folder_types_path %>
