<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @purchase_type.name %>
</p>

<%= link_to 'Edit', edit_purchase_type_path(@purchase_type) %> |
<%= link_to 'Purchase Type List', purchase_types_path %>